<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <title>검색 | 올리브영</title>
</head>
<body>
  <nav class="navbar">
    <a href="/register"><li>회원가입</li></a>
    <a href="/login"><li>로그인</li></a>
    <li>장바구니</li>
    <li>주문배송</li>
    <li>고객센터</li>   
    <li>매장안내</li>
    <li>global</li>
  </nav>
  <logo>
    <img class="logo" src="img/h1_logo.png" alt="">
  </logo>
  <form method="post" action="/search">
    <div class="search-box">
      <input type="text" class="search" name="search" placeholder="웨이크메이크 신상 파운데이션 쇼케이스행사">
      <input type="submit" class="enter" value="" />
    </div>
  </form>
  
  <div class="container">
    <form method="post" action="/purchase">
      <% for (let i = 0; i < resultArray1.length; i++) { %>
        <span class="search1" data-product="<%= resultArray1[i] %>"><%= resultArray1[i] %></span>
        <span class="search2"><%= resultArray2[i] %></span>
        <span class="search3"><%= resultArray3[i] %></span>
        <span class="search4"><%= resultArray4[i] %></span>
        <span class="search5"><%= resultArray5[i] %></span>
        <input type="submit" class="purchase-button" value="구매"></input>
      <% } %>
    </form>
  </div>
  

  </div>
</body>
<script>
   const purchaseForm = document.querySelector('form');
  const firstSearch1 = document.querySelector('.search1');

  purchaseForm.addEventListener('submit', function(e) {
    e.preventDefault();
    const productName = firstSearch1.getAttribute('data-product');

    const hiddenInput = document.createElement('input');
    hiddenInput.type = 'hidden';
    hiddenInput.name = 'productName';
    hiddenInput.value = productName;

    this.appendChild(hiddenInput);
    this.submit();
  });
  axios.get('/searchproduct1').then((res) => {
    const account1 = document.querySelectorAll('.search1');
    for (let i = 0; i < res.data.length; i++) {
      account1[i].innerHTML = res.data[i];
    }
  });

  axios.get('/searchproduct2').then((res) => {
    const account2 = document.querySelectorAll('.search2');
    for (let i = 0; i < res.data.length; i++) {
      account2[i].innerHTML = res.data[i];
    }
  });

  axios.get('/searchproduct3').then((res) => {
    const account3 = document.querySelectorAll('.search3');
    for (let i = 0; i < res.data.length; i++) {
      account3[i].innerHTML = res.data[i];
    }
  });

  axios.get('/searchproduct4').then((res) => {
    const account4 = document.querySelectorAll('.search4');
    for (let i = 0; i < res.data.length; i++) {
      account4[i].innerHTML = res.data[i];
    }
  });

  axios.get('/searchproduct5').then((res) => {
    const account5 = document.querySelectorAll('.search5');
    for (let i = 0; i < res.data.length; i++) {
      account5[i].innerHTML = res.data[i];
    }
  });
</script>
</html>